@import "./varia";
@import "./mixin";

.Wrapper {
    width: $layout-width-inner;
    margin: 0 auto;
    background-color: white;
    margin-top: 100px;
    padding: 20px;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
    }
    &__title {
        font-size: 28px;
        display: inline-block;
        border-bottom: 1px solid black;
        text-align: center;
        width: 200px;
        margin: 20px;
        padding: 20px;
    }
}

.Post-box {
    &__user {
        font-size: 24px;
        margin: 10px auto;
        width: 80%;
        display: flex;
    }
    &__top {
    }
    &__top-heading {
    }
    &__user-name {
        margin-left: 10px;
        line-height: 50px;
    }
    &__content {
        text-align: center;
    }
    &__content-title {
        width: 80%;
        border: 1px solid black;
        margin: 10px auto;
        height: 100px;
        font-size: 28px;
        &::placeholder {
            color: darkgrey;
            font-size: 28px;
        }
    }
    &__content-text {
        width: 80%;
        border: 1px solid black;
        min-height: 400px;
        margin: 10px auto;
        font-size: 18px;
        line-height: 40px;
        &::placeholder {
            color: darkgrey;
            font-size: 18px;
            line-height: 40px;
        }
    }
    &__img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }
    &__img-none {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: whitesmoke;
        font-size: 4px;
        text-align: center;
        line-height: 80px;
    }
}

.App-name {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.App-overview {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.Btn {
    text-align: center;
    font-size: 20px;
    display: block;
    background-color: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid blue;
    &:hover {
        background-color: blue;
        color: white;
    }
}

.Flex {
    display: flex;
    justify-content: space-around;
    &__top-menu {
        margin: 0 30px;
        font-size: 14px;
        &--bold {
            font-weight: bold;
        }
    }
}

// 画像アップロード
.Image-field {
    height: 50px;
    display: block;
    background-color: wheat;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
}

#Post-image {
    display: none;
}

#PreviewArea {
    margin: 20px 0;
    &__image {
        object-fit: cover;
        margin: 0 auto;
    }
    &__previous {
        margin: 0 auto;
        width: 300px;
        height: 200px;
        display: block;
    }
}

// 投稿ボタン
