.Footer {
    background-color: white;
    height: 10%;
    &__title {
        text-align: center;
        color: rgb(55, 107, 248);
        line-height: 80px;
    }
}
main {
    padding: 0 0 40px;
}
* {
    box-sizing: border-box;
}
