@import "./varia";
@import "./mixin";

.Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $layout-width-inner;
    margin: 0 auto;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
    }

    &__top-menu {
        margin: 0 30px;
        font-size: 14px;
        @include mq("sp") {
            margin: 0;
        }
    }
    a {
        display: block;
    }
    &:after {
        content: "";
        display: block;
        width: 30%;
        height: 0;
    }
}

.Post-box {
    width: 40%;
    background-color: #fff;
    margin: 40px;
    @include mq("tab") {
        width: 60%;
        margin: 40px auto;
    }
    @include mq("sp") {
        width: 80%;
    }
    &__title {
        font-size: 24px;
        margin: 10px 0;
        font-weight: 600;
    }
    &__content {
        height: 100px;
    }
    &__image {
        width: 100%;
    }
    &__image-content {
        width: 100%;
        max-height: 200px;
        @include mq("tab") {
            max-height: 400px;
        }
    }
    &__image-content-none {
        width: 100%;
        max-height: 200px;
        text-align: center;
        line-height: 200px;
        background-color: whitesmoke;
        border: black solid 1px;
        @include mq("tab") {
            height: 400px;
            max-height: 400px;
            line-height: 400px;
        }
        @include mq("sp") {
            height: 200px;
            max-height: 200px;
            line-height: 200px;
        }
    }
}

.Profile-box {
    display: flex;
    justify-content: space-between;
    height: 80px;
    border: 1px solid black;

    &__content {
        margin: 15px 20px;
        width: 20%;
        a {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
        }
    }
    &__content-username {
        text-align: center;
    }
    &__content-profile-image {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        @include mq("sp") {
            width: 30px;
            height: 30px;
            border-radius: 30px;
        }
    }
    &__content-profile-image-none {
        height: 40px;
        width: 40px;
        border-radius: 80px;
        background-color: whitesmoke;
        font-size: 4px;
    }
    &__day {
        flex-grow: 3;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        @include mq("sp") {
            display: none;
        }
    }
    &__comment {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }
}
.Comment-box {
    display: flex;
    justify-content: space-around;
}

.LikeBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
    &__title {
        text-align: center;
    }
    &__content {
        display: flex;
        justify-content: space-around;
    }
}

@keyframes rotation {
    0% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

.loved .fa-heart {
    color: red;
}

.fa-heart {
    color: rgba(226, 223, 223, 0.432);
}

.Big {
    animation: rotation 0.5s ease 0s 1 alternate none running;
}

// モーダル
.Profile-modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    &__bg {
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    &__content {
        background: #fff;
        left: 50%;
        padding: 40px;
        height: 500px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
    &__content-title {
        margin: 40px auto;
        font-size: 30px;
        width: 90%;
    }
    &__content-btn-box {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 100px auto;
    }
    &__content-register {
    }
    &__content-back {
    }
}

.Pagination {
    margin: 0 auto;
    width: 80%;
}
