@import "./varia";
@import "./mixin";

.Cover-image-area {
    width: 100%;

    img {
        object-fit: cover;
        height: 400px;
        width: 100%;
    }
    p {
        height: 400px;
        width: 100%;
        text-align: center;
        line-height: 400px;
        background-color: white;
        border: 1px solid black;
    }
}
.Profile-area {
    width: $layout-width-inner;
    margin: 20px auto;
    padding: 40px 0;
    display: flex;
    background: white;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    &__left {
        width: 200px;
        height: 200px;
        margin: 0 40px;
        object-fit: cover;
        border-radius: 100px;
        @include mq("sp") {
            margin: 0 auto;
        }
    }
    &__left-none {
        width: 200px;
        height: 200px;
        margin: 0 40px;
        border-radius: 100px;
        line-height: 200px;
        text-align: center;
        background-color: whitesmoke;
    }
    &__right {
        margin-left: 20px;
        width: 80%;
        @include mq("sp") {
            margin: 20px auto;
        }
    }
    &__right-followed {
        font-size: $font-small;
        color: $main-color;
    }
}

.User {
    display: flex;
    justify-content: space-between;

    padding: 10px 20px 10px 0;
    &__name {
        font-size: 28px;
        font-weight: bold;
    }
    &__follow-btn {
        background-color: white;
        border: blue solid 1px;
        padding: 10px;
        font-weight: bold;
        &:hover {
            background-color: blue;
            color: white;
        }
    }
    &__follow-btn-none {
        background-color: red;
        padding: 10px;
        font-weight: bold;
        color: white;
    }
}

.User-detail {
    margin: 10px 0;
    &__content {
        font-size: 16px;
        min-height: 80px;
    }
}

.User-follow {
    display: flex;
    padding: 10px 0;
    &__follow {
        span {
            font-size: 24px;
            padding-right: 10px;
            font-weight: bold;
        }
    }
    &__follower {
        margin-left: 10px;
        span {
            font-size: 24px;
            padding-right: 10px;
            font-weight: bold;
        }
    }
}

.Heading {
    width: $layout-width-inner;
    margin: 40px auto;
    text-align: center;
    font-size: 28px;
    border-bottom: black 1px solid;
    padding: 10px 0;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
    }
}

// 使い回し 投稿一覧画面
.Flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $layout-width-inner;
    margin: 0 auto;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
    }
    a {
        display: block;
    }
    &:after {
        content: "";
        display: block;
        width: 30%;
        height: 0;
    }
}

.Post-box {
    width: 50%;
    background-color: #fff;
    margin: 20px auto;
    @include mq("sp") {
        width: 80%;
    }
    &__title {
        font-size: 24px;
        margin: 10px 0;
        font-weight: 600;
    }
    &__content {
        height: 100px;
    }
    &__image {
        width: 100%;
    }
    &__image-content {
        width: 100%;
        height: 300px;
    }
    &__image-content-none {
        width: 100%;
        height: 300px;
        text-align: center;
        line-height: 300px;
        background-color: whitesmoke;
        border: black solid 1px;
    }
}

.Profile-box {
    display: flex;
    justify-content: space-between;
    &__content {
        display: flex;
    }
    &__content-username {
        text-align: center;
    }
    &__content-profile-image {
        display: block;
        height: 40px;
        width: 40px;
        border-radius: 40px;
    }
    &__content-profile-image-none {
        height: 40px;
        width: 40px;
        border-radius: 80px;
        background-color: whitesmoke;
        font-size: 4px;
    }
    &__day {
        flex-grow: 3;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        @include mq("sp") {
            display: none;
        }
    }
    &__comment {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }
}

.Comment-box {
    display: flex;
    justify-content: space-around;
}

.LikeBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 2;
    &__title {
        text-align: center;
    }
    &__content {
        display: flex;
        justify-content: space-around;
    }
}

@keyframes rotation {
    0% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

.loved .fa-heart {
    color: red;
}

.fa-heart {
    color: rgba(226, 223, 223, 0.432);
}

.Big {
    animation: rotation 0.5s ease 0s 1 alternate none running;
}
