@import "./varia";
@import "./mixin";

.Menu {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    @include mq("sp") {
        flex-direction: column;
    }
    &__item {
        @include mq("sp") {
            margin-top: 10px;
        }
    }
    &__item--bold {
        font-weight: bold;
        font-size: 16px;
        @include mq("sp") {
            margin: 5px 0;
        }
    }
}

.Preview-box {
    &__title {
        font-size: 28px;
        text-align: center;
        padding: 20px 0;
    }
}

.Cover-image-area {
    width: 100%;
    height: 400px;
    img {
        object-fit: cover;
        height: 400px;
        width: 100%;
    }
    p {
        height: 400px;
        width: 100%;
        text-align: center;
        line-height: 400px;
        background-color: white;
        border: 1px solid black;
    }
}
// jsでここにpreview画像追加
#Cover-preview-area {
    width: 100%;
    height: 400px;
    display: none;
    img {
        object-fit: cover;
        height: 400px;
        width: 100%;
    }
}

#Profile-preview-area {
    display: none;
    &__image {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        object-fit: cover;
        margin: 0 40px;
        @include mq("sp") {
            margin: 0 auto;
        }
    }
}

.Profile-area {
    width: $layout-width-inner;
    margin: 20px auto 0;
    padding: 40px 0;
    display: flex;
    background: white;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }
    &__left {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        object-fit: cover;
        margin: 0 40px;
        @include mq("sp") {
            margin: 0 auto;
        }
    }
    &__left-none {
        width: 200px;
        height: 200px;
        margin: 0 40px;
        border-radius: 100px;
        line-height: 200px;
        text-align: center;
        background-color: whitesmoke;
    }
    &__right {
        margin-left: 20px;
        width: 80%;
        @include mq("sp") {
            margin: 20px auto;
        }
    }
    &__right-followed {
        font-size: $font-small;
        color: $main-color;
    }
}

.User {
    display: flex;
    justify-content: space-between;

    padding: 10px 20px 10px 0;
    &__name {
        font-size: 28px;
        font-weight: bold;
    }
    &__follow-btn {
        background-color: white;
        border: blue solid 1px;
        padding: 10px;
        font-weight: bold;
    }
}

.User-detail {
    margin: 10px 0;
    &__content {
        font-size: 16px;
        min-height: 60px;
    }
}

.User-follow {
    display: flex;
    padding: 10px 0;
    &__follow {
        span {
            font-size: 24px;
            padding-right: 10px;
            font-weight: bold;
        }
    }
    &__follower {
        margin-left: 10px;
        span {
            font-size: 24px;
            padding-right: 10px;
            font-weight: bold;
        }
    }
}

.Heading {
    width: 980px;
    margin: 40px auto;
    text-align: center;
    font-size: 28px;
    border-bottom: black 1px solid;
    padding: 10px 0;
}

// 使い回し 投稿一覧画面
.Flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $layout-width-inner;
    margin: 0 auto;
    a {
        display: block;
    }
    &:after {
        content: "";
        display: block;
        width: 30%;
        height: 0;
    }
}

.Wrapper {
    width: $layout-width-inner;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
    }
    &__title {
        font-size: 28px;
        display: inline-block;
        border-bottom: 1px solid black;
        text-align: center;
        width: 200px;
        margin: 20px;
        padding: 20px;
        @include mq("sp") {
            margin: 0 auto;
            display: block;
        }
    }
}

.Post-box {
    width: 80%;
    background-color: #fff;
    margin: 10px auto;
    &__profile-image {
        padding: 20px 0;
        margin: 0 auto;
        width: 300px;
        text-align: center;
        @include mq("sp") {
            width: 240px;
            margin-top: 20px;
        }
    }
    &__cover-image {
        padding: 20px 0;
        margin: 0 auto;
        width: 300px;
        text-align: center;
        @include mq("sp") {
            width: 240px;
            margin-top: 10px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    &__content-text {
        display: block;
        height: 400px;
        width: 60%;
        border: black 1px solid;
        margin: 0 auto;
        @include mq("sp") {
            min-width: 250px;
        }
    }
    &__btn {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
}

.Profile-box {
    display: flex;
    justify-content: space-between;
    &__content {
        display: flex;
    }
}

#Profile-image {
    display: none;
}

#Cover-image {
    display: none;
}
