@import "./varia";
@import "./mixin";

.Flex {
    width: $layout-width-inner;
    margin: 30px auto;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
    }
}

body {
    background-color: rgba(244, 245, 247);
}

.Heading {
    width: 200px;
    font-size: 28px;
    padding: 10px 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
    text-align: center;
}

.Post-box {
    background-color: #fff;
    margin-top: 10px;
    &__image-content {
        height: auto;
        width: 100%;
    }
    &__image-content-none {
        height: 500px;
        width: 100%;
        text-align: center;
        line-height: 500px;
        background-color: whitesmoke;
        border: black solid 1px;
    }
    &__title {
        font-size: 20px;
        margin: 10px 0;
        font-weight: 600;
        padding: 20px 0;
    }
    &__title-box {
        display: flex;
        @include mq("tab") {
            width: 100%;
        }
        @include mq("sp") {
            display: block;
        }
    }
    &__heading {
        font-size: 30px;
        margin: 10px 0;
        font-weight: 600;
        padding: 20px 0;
    }
    &__content {
        min-height: 500px;
        padding: 20px 0;
        font-size: 20px;
    }
}

.Profile-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    &__content {
        display: flex;
    }
}

.Btn-wrraper {
    margin: 0 0 0 auto;
    display: flex;
    justify-content: flex-end;
    @include mq("sp") {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    a {
        display: block;
    }
}

.Comment {
    margin: 10px auto;
    background-color: #fff;
    width: 60%;
    padding: 40px;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
        padding: 0;
    }
    &__text {
        margin: 20px 0 0 20px;
        min-height: 50px;
    }
}

.Comment-post {
    margin-top: 20px;
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px;
    @include mq("tab") {
        width: 100%;
    }
    @include mq("sp") {
        width: 100%;
        padding: 0;
    }
    &__content {
        display: flex;
        padding: 10px 0;
    }
    &__textarea {
        width: 80%;
        color: black;
        display: block;
        margin: 20px auto 0;
        border: black 1px solid;
        line-height: 30px;
        &::placeholder {
            color: black;
            line-height: 30px;
        }
    }
}

.Profile-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.Profile-img-none {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: whitesmoke;
    font-size: 4px;
    text-align: center;
    line-height: 80px;
}

.Comment-submit {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px 0 0;
    @include mq("sp") {
        padding: 10px 0;
    }
}

.Empty-message {
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    @include mq("sp") {
        width: 80%;
    }
}

// いいねのハート
.loved .fa-heart {
    color: red;
}

.fa-heart {
    color: rgba(226, 223, 223, 0.432);
}

.Hide-message {
    display: none;
}

#commentDeleteBtn {
    display: block;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
    background: #fff;
    border: 1px solid #1b1b1b;
    &:hover {
        background: #1b1b1b;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
}
