.Btn-gradient {
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 0;
  background-image: linear-gradient(to right, #707efa 0%, #40e1fe 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  line-height: 50px;
}

.Btn-gradient:hover {
  transform: translate(0, -2px);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.Btn-gradient--red {
  background-image: linear-gradient(to right, #f38d8dfa 0%, #fe4040 100%);
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  line-height: 50px;
}

.Btn-gradient--red:hover {
  transform: translate(0, -2px);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Big {
  -webkit-animation: rotation 0.5s ease 0s 1 alternate none running;
          animation: rotation 0.5s ease 0s 1 alternate none running;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
}

.Flex__top-menu {
  margin: 0 30px;
  font-size: 14px;
}

.Flex a {
  display: block;
}

.Flex:after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}

.Post-box {
  width: 40%;
  background-color: #fff;
  margin: 40px;
}

.Post-box__title {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
}

.Post-box__content {
  height: 100px;
}

.Post-box__image {
  width: 100%;
}

.Post-box__image-content {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Post-box__image-content-none {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  background-color: whitesmoke;
  border: black solid 1px;
}

.Profile-box {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border: 1px solid black;
}

.Profile-box__content {
  display: flex;
  margin-top: 20px;
  margin: 20px;
}

.Profile-box__content a {
  display: block;
}

.Profile-box__content-username {
  text-align: center;
}

.Profile-box__content-profile-image {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 80px;
}

.Profile-box__content-profile-image-none {
  height: 40px;
  width: 40px;
  border-radius: 80px;
  background-color: whitesmoke;
  font-size: 4px;
}

.Profile-box__day {
  flex-grow: 3;
  text-align: center;
  line-height: 80px;
}

.Profile-box__comment {
  display: flex;
  line-height: 80px;
  flex-grow: 2;
}

.LikeBox {
  display: flex;
  line-height: 80px;
  flex-grow: 2;
}

@keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Big {
  -webkit-animation: rotation 0.5s ease 0s 1 alternate none running;
          animation: rotation 0.5s ease 0s 1 alternate none running;
}

.Profile-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.Profile-modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.Profile-modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.Profile-modal__content-title {
  margin: 40px auto;
  font-size: 30px;
  width: 90%;
}

.Profile-modal__content-btn-box {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 100px auto;
}

