.Btn-gradient {
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 0;
  background-image: linear-gradient(to right, #707efa 0%, #40e1fe 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .Btn-gradient {
    font-size: 14px;
  }
}

.Btn-gradient:hover {
  transform: translate(0, -2px);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.Btn-gradient--red {
  background-image: linear-gradient(to right, #f38d8dfa 0%, #fe4040 100%);
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .Btn-gradient--red {
    font-size: 14px;
  }
}

.Btn-gradient--red:hover {
  transform: translate(0, -2px);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.simple_square_btn {
  display: block;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.simple_square_btn:hover {
  background: #1b1b1b;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.Image-field {
  display: block;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.Image-field:hover {
  background: #1b1b1b;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .Menu {
    flex-direction: column;
    align-items: flex-end;
  }
}

.Menu__item:hover {
  border-bottom: black 1px solid;
}

@media screen and (max-width: 767px) {
  .Menu__item {
    margin-top: 10px;
  }
}

.Menu__item--bold {
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .Menu__item--bold {
    margin: 5px 0;
  }
}

.Profile-modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.Profile-modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.Profile-modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

@media screen and (max-width: 1179px) {
  .Profile-modal__content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Profile-modal__content {
    width: 100%;
    padding: 0;
    height: 200px;
  }
}

.Profile-modal__content-title {
  margin: 40px auto;
  font-size: 30px;
  width: 90%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .Profile-modal__content-title {
    font-size: 14px;
    margin: 40px auto;
    width: 100%;
    text-align: center;
  }
}

.Profile-modal__content-btn-box {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 100px auto;
}

@media screen and (max-width: 1179px) {
  .Profile-modal__content-btn-box {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Profile-modal__content-btn-box {
    width: 100%;
    margin: 0 auto;
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Big {
  -webkit-animation: rotation 0.5s ease 0s 1 alternate none running;
          animation: rotation 0.5s ease 0s 1 alternate none running;
}

.Error_message {
  color: red;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .Error_message {
    font-size: 8px;
    width: 100%;
  }
}

.Flex {
  width: 1180px;
  margin: 30px auto;
}

@media screen and (max-width: 1179px) {
  .Flex {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Flex {
    width: 100%;
  }
}

body {
  background-color: #f4f5f7;
}

.Heading {
  width: 200px;
  font-size: 28px;
  padding: 10px 0;
  border-bottom: 1px solid black;
  margin: 20px auto;
  text-align: center;
}

.Post-box {
  background-color: #fff;
  margin-top: 10px;
}

.Post-box__image-content {
  height: auto;
  width: 100%;
}

.Post-box__image-content-none {
  height: 500px;
  width: 100%;
  text-align: center;
  line-height: 500px;
  background-color: whitesmoke;
  border: black solid 1px;
}

.Post-box__title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
  padding: 20px 0;
}

.Post-box__title-box {
  display: flex;
}

@media screen and (max-width: 1179px) {
  .Post-box__title-box {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Post-box__title-box {
    display: block;
  }
}

.Post-box__heading {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 600;
  padding: 20px 0;
}

.Post-box__content {
  min-height: 500px;
  padding: 20px 0;
  font-size: 20px;
}

.Profile-box {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.Profile-box__content {
  display: flex;
}

.Btn-wrraper {
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .Btn-wrraper {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}

.Btn-wrraper a {
  display: block;
}

.Comment {
  margin: 10px auto;
  background-color: #fff;
  width: 60%;
  padding: 40px;
}

@media screen and (max-width: 1179px) {
  .Comment {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Comment {
    width: 100%;
    padding: 0;
  }
}

.Comment__text {
  margin: 20px 0 0 20px;
  min-height: 50px;
}

.Comment-post {
  margin-top: 20px;
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
}

@media screen and (max-width: 1179px) {
  .Comment-post {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Comment-post {
    width: 100%;
    padding: 0;
  }
}

.Comment-post__content {
  display: flex;
  padding: 10px 0;
}

.Comment-post__textarea {
  width: 80%;
  color: black;
  display: block;
  margin: 20px auto 0;
  border: black 1px solid;
  line-height: 30px;
}

.Comment-post__textarea::-moz-placeholder {
  color: black;
  line-height: 30px;
}

.Comment-post__textarea:-ms-input-placeholder {
  color: black;
  line-height: 30px;
}

.Comment-post__textarea::placeholder {
  color: black;
  line-height: 30px;
}

.Profile-img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.Profile-img-none {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: whitesmoke;
  font-size: 4px;
  text-align: center;
  line-height: 80px;
}

.Comment-submit {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px 0 0;
}

@media screen and (max-width: 767px) {
  .Comment-submit {
    padding: 10px 0;
  }
}

.Empty-message {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .Empty-message {
    width: 80%;
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Hide-message {
  display: none;
}

#commentDeleteBtn {
  display: block;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

#commentDeleteBtn:hover {
  background: #1b1b1b;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

