.Flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
}

.Flex a {
  display: block;
}

.Flex:after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}

.Post-box {
  width: 30%;
  background-color: #fff;
  margin: 10px;
}

.Post-box__title {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
}

.Post-box__content {
  height: 100px;
}

.Post-box__image {
  width: 100%;
}

.Post-box__image-content {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Profile-box {
  display: flex;
  justify-content: space-between;
}

.Profile-box__content {
  display: flex;
}

@-webkit-keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Big {
  -webkit-animation: rotation 0.5s ease 0s 1 alternate none running;
          animation: rotation 0.5s ease 0s 1 alternate none running;
}

