.Btn-gradient {
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 0;
  background-image: linear-gradient(to right, #707efa 0%, #40e1fe 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  line-height: 50px;
}

.Btn-gradient:hover {
  transform: translate(0, -2px);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.Btn-gradient--red {
  background-image: linear-gradient(to right, #f38d8dfa 0%, #fe4040 100%);
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  margin: 20px 0;
  border-radius: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  line-height: 50px;
}

.Btn-gradient--red:hover {
  transform: translate(0, -2px);
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Big {
  -webkit-animation: rotation 0.5s ease 0s 1 alternate none running;
          animation: rotation 0.5s ease 0s 1 alternate none running;
}

.Menu {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.Cover-image-area {
  width: 100%;
}

.Cover-image-area img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 100%;
}

.Cover-image-area p {
  height: 400px;
  width: 100%;
  text-align: center;
  line-height: 400px;
  background-color: white;
  border: 1px solid black;
}

.Profile-area {
  width: 60%;
  margin: 20px auto;
  padding: 40px 0;
  display: flex;
  background: white;
}

.Profile-area__left {
  width: 200px;
  height: 200px;
  margin: 0 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.Profile-area__left-none {
  width: 200px;
  height: 200px;
  margin: 0 40px;
  border-radius: 100px;
  line-height: 200px;
  text-align: center;
  background-color: whitesmoke;
}

.Profile-area__right {
  margin-left: 20px;
  width: 80%;
}

.Profile-area__right-followed {
  font-size: 14px;
  color: black;
}

.User {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 0;
}

.User__name {
  font-size: 28px;
  font-weight: bold;
}

.User__follow-btn {
  background-color: white;
  border: blue solid 1px;
  padding: 10px;
  font-weight: bold;
}

.User__follow-btn:hover {
  background-color: blue;
  color: white;
}

.User__follow-btn-none {
  background-color: red;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.User-detail {
  margin: 10px 0;
}

.User-detail__content {
  font-size: 16px;
  min-height: 80px;
}

.User-follow {
  display: flex;
  padding: 10px 0;
}

.User-follow__follow span {
  font-size: 24px;
  padding-right: 10px;
  font-weight: bold;
}

.User-follow__follower {
  margin-left: 10px;
}

.User-follow__follower span {
  font-size: 24px;
  padding-right: 10px;
  font-weight: bold;
}

.Heading {
  width: 980px;
  margin: 40px auto;
  text-align: center;
  font-size: 28px;
  border-bottom: black 1px solid;
  padding: 10px 0;
}

.Flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 980px;
  margin: 0 auto;
}

.Flex a {
  display: block;
}

.Flex:after {
  content: "";
  display: block;
  width: 30%;
  height: 0;
}

.Post-box {
  width: 50%;
  background-color: #fff;
  margin: 10px auto;
}

.Post-box__title {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
}

.Post-box__content {
  height: 100px;
}

.Post-box__image {
  width: 100%;
}

.Post-box__image-content {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Post-box__image-content-none {
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  background-color: whitesmoke;
  border: black solid 1px;
}

.Profile-box {
  display: flex;
  justify-content: space-between;
}

.Profile-box__content {
  display: flex;
}

@keyframes rotation {
  0% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.loved .fa-heart {
  color: red;
}

.fa-heart {
  color: rgba(226, 223, 223, 0.432);
}

.Big {
  -webkit-animation: rotation 0.5s ease 0s 1 alternate none running;
          animation: rotation 0.5s ease 0s 1 alternate none running;
}

